@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
    width: 100%;
    margin: 0;
    background-color: #A3CCFF;
    text-align: center;
    font-family: 'Baloo', cursive;
}
#appContainer {
    width: 95%;
    margin: 0 auto;
}
#cloudBack{
    background-image: url("../img/cloud.png");
    background-repeat: no-repeat;
    background-size: 60% 110%;
    background-position: center;
}
#weatherContainer {
    background-color: darkblue;
    margin: 0 auto;
    margin-bottom: 0;
    width: 80%;
}
.threeDayBox {
    background-color: #ffffff;
    width: 30%;
    text-align: center;
    border-bottom: 2px solid #b0b0b0;
    display: inline-block;
    border-right: 2px solid #b0b0b0;
    margin-right: -4px;
}
.fiveDayBox{
    background-color: #ffffff;
    width: 19%;
    text-align: center;
    border-bottom: 2px solid #b0b0b0;
    border-right: 2px solid #b0b0b0;
    margin-right: -4px;
    display: none;
}
.tenDayBox {
    background-color: #ffffff;
    width: 19%;
    text-align: center;
    border-bottom: 2px solid #b0b0b0;
    border-right: 2px solid #b0b0b0;
    margin-right: -4px;
    display: none;
}
.todayBox {
    /*background-color: #ffffff;*/
    width: 95%;
    text-align: center;
    border-bottom: 2px solid #b0b0b0;
    margin: 0 auto;
    display: none;
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #fff , #A3CCFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #fff, #A3CCFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #fff, #A3CCFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #fff , #A3CCFF); /* Standard syntax */
}

p {
    font-size: .85em;
    margin: 8px auto;
}
#map {
    width: 80%;
    height: 400px;
    margin: 0 auto;
}
#threeDayList, #fiveDayList{
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin: 0;
}
#threeDayList>li {
    display: inline-block;
    color: #A3CCFF;
    font-size: 1.4em;
    width: 30%;
}
#fiveDayList>li {
    color: #A3CCFF;
    font-size: 1.4em;
    width: 19%;
    display: inline-block;
}
#fiveDayList{
    display: none;
    margin: 0;
}
h1{
    font-size: 4em;
    color: #A3CCFF;
    margin-bottom: 0;
    margin-top: 0;
}
h2 {
    font-size: 3.2em;
    margin: 0 auto;
    color: #00008B;
}
.search{
    display: inline-block;
}
#leftSearch {
    text-align: left;
    width: 44%;
}
#rightSearch {
    text-align: right;
    width: 54%;
}
#searchContainer{
    width: 80%;
    margin: 0 auto;
    color: #00008B;
}
#daySelector {
    color: #fff;
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin: 0 0 5px 0;
}
#daySelector>li {
    font-weight: bold;
    font-size: 1.2em;
    width: 15%;
    padding: 5px 0;
    display: inline-block;
    margin: 0 3%;
    border-bottom: 2px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
#daySelector>li:hover {
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00008B, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00008B, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00008B, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00008B, #fff); /* Standard syntax */
    color: #00008B;
}
.todayBox>h3{
    margin: 0 300px 0 0;
}
.todayBox>img {
    width: 150px;
    height: 150px;
    float: right;
    padding-bottom: 15px;
    margin: 0 100px 0 50px;
}



@media screen and (max-width: 1180px){
    #rightSearch{
        display: none;
    }
    #leftSearch{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
}
